################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AI-CSP-Sudoku-A4/v16/Browse.VC.db
/.vs/AI-CSP-Sudoku-A4/v16/Browse.VC.db-shm
/.vs/AI-CSP-Sudoku-A4/v16/Browse.VC.db-wal
/.vs/AI-CSP-Sudoku-A4/v16/Browse.VC.opendb
