################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AI-CSP-Sudoku-A4/v16/Browse.VC.db
